<br/>
<br/>
<section class="section bd-masthead">
    <div class="container-xxl">
      <div class="row">
        <div class="col-md-6">
          <h3 class="display-4">Herzlich willkommen!</h3>
          <p class="lead mb-4">auf der Website des Gesangverein Sängerlust 1911 Oberndorf</p>
        </div>
        <div class="col-md-6">
          <p class="lead mb-4">Komme doch einfach mal vorbei und singe mit uns!</p>
          <p class="mb-4"><b>Wo:</b> Bürgersaal im Rathaus Oberndorf, Martinusstraße 2, 63637 Jossgrund-Oberndorf</p>
          <p class="mb-4"><b>Wann:</b> Mittwochs um 20:00</p>
          <p class="mb-4"><b>Auftritte:</b> <a href="https://www.konzertmeister.site/site/12266" target="_blank">Konzertmeister</a> (Link geht zu externer Website)</p>
        </div>
      </div>      
    </div>
  </section>
