
<div class="grid text-center justify-content-center">
<div id="HeaderCarousel" class="carousel slide mb-6">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{"slider1.jpg"|relURL}}" class="first-slide" >
    </div>
    <div class="carousel-item">
      <img src="{{"slider2.jpg"|relURL}}" class="second-slide" >
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#HeaderCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Zurück</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#HeaderCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Weiter</span>
  </button>
</div>
</div>

<script>
const myCarouselElement = document.querySelector('#HeaderCarousel')
//const carousel = new bootstrap.Carousel(myCarouselElement, { })
</script>
