<!-- d-flex flex-wrap justify-content-between align-items-center py-3 my-4  -->
<footer class="border-top">
    <div class="container container-custom bg-white">
      <div class="d-flex justify-content-between">
        <div>
          <p class="text-muted">Gesangverein Sängerlust 1911 Oberndorf</p>
        </div>
  
        <div class="ms-auto">
          <ul class="nav">
            <li class="nav-item"><a href="/datenschutz" class="nav-link">Datenschutzerklärung</a></li>
            <li class="nav-item"><a href="/impressum" class="nav-link">Impressum</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  