  <header class="sticky-top bg-white d-flex flex-wrap justify-content-center border-bottom">

    <nav class="navbar navbar-expand-lg">
      <div class="container">
    <!-- <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"> -->
      <a href="/" class="navbar-brand">
        <img src="{{"logo.png"|relURL}}" class="bi me-2" width="64px"/>
        <span style="font-family: 'Tangerine', serif; font-size: 48px;" class="fs-1">{{.Site.Title}}</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
   <!-- <ul class="nav nav-pills"> -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
     {{ $currentPage := . }}

     {{ $page := . }}
{{ $basepath := path.Clean (urls.Parse (relLangURL "")).Path }}
{{ if eq $basepath "/" }}
    {{ $basepath = "" }}
{{ end }}

{{ $pagepath := strings.TrimPrefix $basepath $page.RelPermalink }}

    {{ range .Site.Menus.main }}
    {{ $menupath := strings.TrimPrefix $basepath .URL }}
                {{ $home := and (eq $menupath "/") (eq $pagepath "/") }}
                {{ $menuprefix := and (ne $menupath "/") (hasPrefix $pagepath $menupath) }}
                {{ $sectionprefix := and (ne $menupath "/") (hasPrefix $menupath (printf "/%s/" $page.Section)) }}
                {{ $active := or $home $menuprefix $sectionprefix }}

      {{ if .HasChildren }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {{if $active}} active {{end}}" href=".{{.URL}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{.Name}}
          </a>
          <ul class="dropdown-menu">
            {{ range .Children }}
            <li><a class="dropdown-item" href="{{.URL}}">{{.Name}}</a></li>
            {{ end }}
          </ul>
        </li>
      {{ else }}
        <li class="nav-item"><a class="nav-link {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a></li>
      {{ end }}
    {{ end }}
    </ul>
  </div>
  </div>
  </nav>

  </header>

  {{ if .Page.Params.headerImage}}

  {{ $headerImage := .Page.Resources.GetMatch .Page.Params.headerImage }}

  {{ if $headerImage }} 
    
  <style>
  .header-image-nahwaerme {
    width: 100%;
    height: 150px;
    background-image: url("{{ $headerImage.Permalink }}");
    background-size: cover; /* The dimentions of your image */
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 1vh;
  }
  </style>

  {{end}}

  <div class="row header-image-nahwaerme"></div>
{{end}}